/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 4.8rem;
  height: 4.8rem;
  border: 0.5rem dotted #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #b45f4d;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.9rem;
  line-height: 1.57;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -box-shadow: 0 0 0rem 100rem transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 0.3rem dashed #b4604d;
  outline-offset: 0.3rem;
}

/* CONTAINER  */
.container {
  max-width: 134rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON  */
.button {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
  background-color: #b36050;
  z-index: 100;
}

.site-header--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.site-header__container {
  display: flex;
  flex-direction: column;
}

.site-header__top {
  color: #f1d3b9;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem;
}

.site-header__main {
  background-color: #f6f4ec;
}

.site-header__main-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.site-header__sitenav {
  padding-right: 20rem;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 3.2rem;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: #b4604d;
}


/* LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
}

.site-header__logo {
  padding-right: 4rem;
  padding-left: 4rem;
}

.logo__img {
  display: block;
  width: 12rem;
  height: 5.6rem;
  object-fit: cover;
  object-position: center;
}



.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
}

.auth__link {
  font-size: 1.4rem;
  color: #b45f4d;
  text-decoration: none;
  margin-right: 1.9rem;
}

.auth__store {
  display: flex;
  align-items: center;
}

.store__count {
  display: inline-block;
  margin-left: 0.4rem;
  font-size: 1.5rem;
  line-height: auto;
}

.store__img {
  display: block;
  width: 2rem;
  height: 2.2rem;
  order: -1;
}

/* HERO  */
.hero {
  background-color: #a9ae8d;
}

.hero__bg {
  margin-top: 11.6rem;
  min-height: 43.5rem;
  background-image: url(../img/hero-bg.jpg);
  background-position: center center;
  background-size: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.hero__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 2.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__button {
  background-color: #b45f4d;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}


/* SECTION-PRODUCTION  */
.section-production {
  background-color: #f6f4ec;
}

.section-production__container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-production__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-size: 2.3rem;
  font-weight: 400;
}

.section-production__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 4.5rem;
  padding: 0;
  list-style: none;
}

.product__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product__img {
  display: block;
  width: 34rem;
  height: 51rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 3.5rem;
}

.product__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2.3rem;
}

.product__cost {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
}

.section-production__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__button {
  display: inline-flex;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.slider__button-img {
  display: block;
  width: 6.6rem;
  height: 0.9rem;
  object-fit: cover;
  object-position: center;
}

/* SECTION-CTA  */

.section-cta {
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
}

.section-cta__container {
  position: relative;
  min-height: 40.8rem;
  background-image: url(../img/cta-bg.jpg);
  background-size: cover;
  background-position: center center;
}

.section-cta__content {
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.cta-content {
  color: #fff;
  background-color: #df9b7a;
}

.cta-content__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.cta-content__button {
  color: inherit;
  font-size: 1.8rem;
  text-transform: capitalize;
}


/* SECTION-INFO  */
.section-info {
  background-color: #f1d3b9;
}

.section-info__container {
  display: flex;
  justify-content: space-between;
  padding-top: 9.7rem;
  padding-bottom: 6.7rem;
}

.section-info__content {
  display: flex;
  align-items: center;
  padding: 4.2rem;
  width: 100%;
  max-width: 50rem;
  background-color: #fff;
}

.section-cta__content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-info__title {
  margin-top: 0;
  margin-bottom: 2.2rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.section-info__description {
  margin-top: 0;
  margin-bottom: 4rem;
}

.section-info__button {
  text-transform: capitalize;
  color: #b45f4d;
}

.section-info__img {
  display: block;
  width: 50rem;
  height: 75rem;
  object-fit: cover;
  object-position: center;
  order: -1;
}


/* SCETION-FOLLOW */
.section-follow__container {
  padding-top: 2.8rem;
}

.section-follow__title {
  text-align: center;
  text-transform: capitalize;
  color: #000;
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 4.4rem;
}

.section-follow__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.section-follow__img {
  display: block;
  width: 19.2rem;
  height: 16.7rem;
  object-fit: cover;
  object-position: center;
}


/* SITE-FOOTER  */
.site-footer {
  background-color: #f6f4ec;
}

.site-footer__container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.site-footer__sitenav {
  display: flex;
  margin-right: auto;
}

.site-footer__sitenav .sitenav__list {
  width: 100%;
  max-width: 21.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}


.site-footer__sitenav .sitenav__item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.site-footer__sitenav .sitenav__link {
  text-decoration: none;
  color: #b45f4d;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.site-footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #c17c6c;
}

.index-form__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.index-form__email-sender-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border:  0.1rem solid #000;
  background-color: transparent;
  color: #b45f4d;
  width: 100%;
}

.index-form__email-sender-box *:focus {
  outline: none;
}

.index-form__input {
  display: inline-block;
  width: 100%;
  max-width: 36.5rem;
  padding: 1rem;
  background-color: inherit;
  border:  0.1rem solid #b45f4d;
  border-right-color: transparent;
}

.index-form__button {
  background-color: inherit;
  padding: 0.9rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  border:  0.1rem solid #b45f4d;
  border-left-color: transparent;
}

.index-form__info {
  font-size: 1.4rem;
}

.index-form__address {
  font-style: normal;
  font-size: 1.4rem;
}

.site-footer__bottom {
  padding: 1.8rem;
  text-align: center;
  font-size: 1.4rem;
  border-top: 0.1rem solid #000;
}